body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

input, button {
    padding: 10px;
    margin: 8px;
    width: 200px;
}

.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    background: conic-gradient(green 0deg, #ddd 0deg);
}

a {
    display: block;
    margin-top: 20px;
}
